REMAX_MAX_PAGE_NUM=500
SCRAPY_LOG_LEVEL="INFO"

PG_HOST=""
PG_PORT=""
PG_SCHEMA=""
PG_DB_NAME=""
PG_USER=""
PG_PASS=""

FLYWAY_VERSION=""

FTP_HOST=""
FTP_USER=""
FTP_PASSWORD=""
FTP_PATH=""

DOCKER_IMG_NAME="walker088/pyremax"
DOCKER_IMG_VERSION_TAG="v0.0.1-bullseye"
DOCKER_CONTAINER_NAME="pyremax-v0.0.1-bullseye"
DOCKER_GECKODRIVER_VER="v0.30.0"
DOCKER_FIREFOX_VER="99.0"
